DEBUG=True
SECRET_KEY="please_add_a_random_key"
STATICFILES_STORAGE="django.contrib.staticfiles.storage.StaticFilesStorage"
POSTGRES_DB=labcodes_challenge
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:50001/labcodes_challenge"
REDIS_URL="redis://localhost:50002"
